.login{
    min-height: 100vh;
    min-width: 100vw;
}
.log-box{
    display: flex;
}
.log-left{
  width: 50%;
  box-sizing: content-box; 
  height: 100vh;
}
.lg-fr{
    margin-top: 55px;
    margin-left: 175px;
}
.log-h1{
    color: #000;
    font-size: 2.2rem;
    margin-left: 30px;
}
.log-form{
    margin-top: 35px;
    top: 40%;
    left: 50%;
    max-width: 400px;
    height: 100%;
    background-color: #FFFFFF;
}
.input-textt{
    display: block;
    border: none;
    height: 2rem;
    width: 75%;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.3rem;
    font-size: small;
    color: #000;
    border-radius: 8px 8px;
    border:1.5px solid #000000;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background-color:#FFFFFF;
}
.input-text:hover {
    outline: 0.5px solid #000000;
    -webkit-box-shadow: 2px 2px 9px -2px #000000;
            box-shadow: 2px 2px 9px -2px #000000;
}
.log-button{
    padding: 7px 18px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #fff;
    height: 2re;
    width: 60%;
    border-radius: 12px;
    font-size: 1.0rem;
    font-weight: 400;
    cursor: pointer; 
    margin-left: 20px;
}
.log-p{
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
}
.log-agreed{
    color: grey;
    font-size: 0.9rem;
}
.log-terms{
    color: #000;
    font-size: 0.9rem;
}

.log-right{
    background-image: url("../../images/Photo(1).png");
    width: 50%;
    color: #FFFFFF;
    height: 100vh;
}
.lr-side{
    margin-top: 45px;
    margin-left: 5px;
}
.lr-h1{
   color: #FFFFFF;
   font-size: 2.3rem;
}
.lr-p{
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 1.0rem;
}
.lr-p1{
    color: #FFFFFF;
    margin-top: 305px;
}
.log-icon{
    margin-top: 15px;
    display: flex;
    column-gap: 23px;
}